<div id='nav'>
	<ul>
	  <li><a href="http://www.dogeweather.com">Home</a></li>
	  <li><a href="http://www.dogeweather.com">Coworkers</a></li>
	  <li><a href="http://www.dogeweather.com">Contact</a></li>
	  <li><a href="http://www.dogeweather.com">About</a></li>
	</ul>
</div>


<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2> users </h2>
{{#each users}}
  <li>{{this.firstName}} {{this.lastName}}</li>
{{/each}}

<h2> pins </h2>
{{#each pins}}
  <li>{{this.text}} @ {{this.location}}</li>
{{/each}}

<h2> add pin </h2>
<form action='/new_pin' method='post'>
  <input type='text' placeholder='text' name='text'/>
  <input type='text' placeholder='location' name='location'/>
  <select name='userId'>
    {{#each users}}
      <option value={{this.userId}}>{{this.firstName}}</option>
    {{/each}}
  </select>
  <input type='submit'/>
</form>

<div id='map'>
  {{#each pins}}
    <div class='pin' style='top:{{this.top}}px; left:{{this.left}}px'></div>
  {{/each}}
	<p> hello i am here <br> this is me <br> this is map </p>
	<!-- <img src="../assets/cat.jpg" alt="laser cat"> -->
</div>

<script src='scripts/mapClick.js'></script>
