<div id='nav'>
	<ul>
	  <li><a href="http://www.dogeweather.com">Home</a></li>
	  <li><a href="http://www.dogeweather.com">Coworkers</a></li>
	  <li><a href="http://www.dogeweather.com">Contact</a></li>
	  <li><a href="http://www.dogeweather.com">About</a></li>
	</ul>
</div>


<h1>{{title}}</h1>
<p>LETS THINK OF A NAME</p>

{{#if user}}
<p>Welcome, {{user.firstName}}. <a href='/logout'>logout</a></p>
{{else}}
<p>Please <a href='/auth/google'>sign in</a> to add pins!</p>
{{/if}}

<div id='mouse-trail'></div>
<div id='map'>
  {{#each pins}}
    <div class='pin' style='top:{{this.top}}px; left:{{this.left}}px' data-toggle="modal" data-target="#modal-{{this._id}}">
      <div class='pin-hover-label'>{{this.text}}</div>
      <div class='pin-click-label'></div>
    </div>
    <div class="modal fade" id="modal-{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <h3>{{this.text}}</h3> 
          located at {{this.location}}<br>
          posted by {{this.userName}} at {{this.hour}}:{{this.minute}} on {{this.month}}/{{this.day}}/{{this.year}}<br>
          <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  {{/each}}
</div>
<!-- parent -->
<div class="parent">

  <!-- child 2 -->
<!--   <div id="swear" style="font-size:0px">
    <img id="swear-left" src="../assets/parch-left.jpg" alt="i swear">
    <img id="swear-right" src="../assets/parch-right.jpg" alt="i swear">
  </div> -->

</div>

<!-- <div id='mapText'>
  <span>I solemnly swear that I am up to no good.</span>
</div> -->

<script>
  $('#mapText').on('click', function() {
    $('#map').css('opacity', 1);
  });
</script>

<script>
  $("#mapText").click(function() {
    $("#mapText").fadeOut("normal", function() {
        $(this).remove();
    });
  });
  $("#mapText").click(function() {
    $("#swear").delay(700).fadeOut("normal", function() {
        $(this).remove();
    });
  });

</script>

<script type="text/javascript">
  $(document).ready(function() {
    $("#mapText").click(function() {
      $("#swear-left").animate({
        "marginLeft": '-=260px'
      }, 1000);
    });
  });

  $(document).ready(function() {
    $("#mapText").click(function() {
      $("#swear-right").animate({
        "marginLeft": '+=500px'
      }, 1000);
    });
  });
</script>

{{#if user}}
<script src='scripts/mapOps.js'></script>
<script src='scripts/mouseTrail.js'></script>
{{/if}}