<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2> users </h2>
{{#each users}}
  <li>{{this.firstName}} {{this.lastName}}</li>
{{/each}}

<h2> pins </h2>
{{#each pins}}
  <li>{{this.text}} @ {{this.location}}</li>
{{/each}}

<h2> add pin </h2>
<form action='/new_pin' method='post'>
  <input type='text' placeholder='text' name='text'/>
  <input type='text' placeholder='location' name='location'/>
  <select name='userId'>
    {{#each users}}
      <option value={{this.userId}}>{{this.firstName}}</option>
    {{/each}}
  </select>
  <input type='submit'/>
</form>